.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(26, 25, 25);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appName {
  margin-left: 12px;
  font-weight: bold;
  font-size: 1.8rem;
  color: #dcd8e4;
}

.left,
.right {
  display: flex;
  align-items: center;

}

.right {
  color: antiquewhite;
  font-weight: 700;
  letter-spacing: .2rem;
}

.right > :not(:first-child) {
  margin-left: 1rem;

}

@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}
